.container {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.main-heading {
  margin-top: 20px;
  margin-bottom: 20px; 
}

.table-container {
  margin-bottom: 20px; 
}

table.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

th:first-child,
td:first-child {
  padding-left: 16px; 
}

th {
  background-color: #4caf50; 
  color: #ffffff; 
}

tr:not(:last-child) td {
  border-bottom: 1px solid #ddd; 
}

tr:last-child td {
  border-bottom: 2px solid #4caf50; 
}

.footer {
  margin-top: 20px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.button, .page-number-box {
  background-color: #4caf50; 
  color: #ffffff; 
  border: none;
  padding: 10px 20px;
  margin: 0 10px; 
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  background-color: #388e3c; 
}